# Expressions

An `expression` is a piece of code that evaluates to a single value. Below are some examples of expressions:
| Expression       | Result   | 
|------------------|----------|
| 5                | Evaluates to 5. | 
| x                | Evaluates to the value the variable `x` contains.|
| 4 - 1            | Evaluates to 3.|
| 2 < 5            | Evaluates to True.|
| foo()            | Evaluates to the return value of the function foo().|

Since expressions get evaluated to single values, we can use them anywhere a single value is allowed. 

For example, when you write the code `x = 3 + 1`, Python evaluates the expression `3 + 1` to 4 and then assigns the value 4 to x.

In [ ]:
# Exaluate the expression 23 > 9, then print the result.
print(23 > 9)

# Data Types

In programming, we work with a lot of data (numbers, text, etc.). The data's `type` determines what we can do with that data. For example, we can multiply numbers like `3 * 5`, but we can't multiply text like `"hello" * "goodbye"`.

We can check a value's type in Python by using the `type()` function. Let's go over some of the different data types in Python.

## Numeric Data Types
Python has two numeric data types: ints and floats.

### Integers (int)

Integers (shortened to `int` in Python) are numbers without decimals. Some examples of ints are -12, 0, and 92.

In [ ]:
# Use the type() function to see a value's data type.

# Which of the following evaluate to type `int`? Uncomment one at a time:

# print(type(4))
# print(type(3.1))
# print(type("42"))
# print(type(3 + 1))
# print(type(int))
# print(type(3.0))
# print(type(4 * (2 - 1)))

### Floats

Floats are numbers that contain decimals. For example, -2.3, 12.345, and 3.8.

In [ ]:
# Which of the following evaluate to type `float`? Uncomment one at a time:

# print(type(32.1))
# print(type(4))
# print(type("42.9"))
# print(type(2.0))
# print(type(8.))
# print(type(float))
# print(type(.5))
# print(type(5 / 2))

We can use the following operations on ints and floats to do calculations.

| Operator   | Name           | Description                                       |
|------------|----------------|---------------------------------------------------|
| `a + b`    | Addition       | Sum of `a` and `b`                                |
| `a - b`    | Subtraction    | Difference of `a` and `b`                         |
| `a * b`    | Multiplication | Product of `a` and `b`                            |
| `a / b`    | True division  | Quotient of `a` and `b`                           |
| `a // b`   | Floor division | Quotient of `a` and `b`, removing fractional parts|
| `a % b`    | Modulus        | Remainder after division of `a` by `b`            |
| `a ** b`   | Exponentiation | `a` raised to the power of `b` (`a`<sup>`b`</sup>)|
| `-a`       | Negation       | The negative of `a`                               |

We can also use parentheses for grouping.

In [ ]:
# Uncomment the below code one line at a time.
# print(1 + 2)
# print(3 * 4.0)
# print(1 + 3 * 4)
# print((1 + 3) * 4)
# print(2**3)
# print(5 / 3)
# print(5 // 3)
# print(5 % 3)

## Booleans (bool)

Boolean (shortened to `bool` in Python) is the data type of the values `True` and `False`.

In [ ]:
# Which of the following evaluate to type `bool`? Uncomment one at a time:

# print(type(True))
# print(type(3 + 4))
# print(type(4 < 2))
# print(type(False))
# print(type("True"))
# print(type(true))

Using the word `not` before a boolean swaps its value. `not True` evaluates to False, and `not False` evaluates to True.

In [ ]:
print(not True)

## Sequence Data Types
Sequences are ordered collections of data. Python has three sequence data types: strings, lists, and tuples.

### Strings (str)

Strings (shortened to `str` in Python) is the data type for text in Python. Strings are surrounded by single or double quotes.

Examples of strings include `'Hello'`, `"I am 3!"`, and even the empty string `""`.

Strings are sequences of characters. In the string `"Hi Bye"`, the first character in the sequence is `"H"`, the next is `"e"`, then `" "`, then `"B"`, up until the final character in the sequence, `"e"`.

In [ ]:
# Which of the following evaluate to type `str`? Uncomment one at a time:
# print(type("I'm batman."))
# print(type(hello))
# print(type(""))
# print(type("True"))
# print(type('hi'))
# print(type("3"))

### Lists

A list is a data type that can store multiple values. Lists are within square brackets (`[` and `]`), and each item is seperated with a comma.

Examples of lists include `[1, 2, 3, 2]`, `[True, True, False]`, `["happy", "sad", "indifferent"]`, and even the empty list `[]`. 

Lists can even have lists inside of them! `[[1, 2, 3], [4. 5, 6]]` is a list where the first item is `[1, 2, 3]` and the second item is `[4, 5, 6]`.

In [ ]:
# Which of the following evaluate to type `list`? Uncomment one at a time:

# print(type([3, 54, 1, 23, 2]))
# print(type([]))
# print(type("[2, 1]"))
# print(type(2, 3))
# print(type([True]))
# print(type([2, "banana", 3.2, True]))
# print(type([[1, 2], [2, 4], ["apple"]]))

Lists are mutable, which means they can be modified after creating them. For example, we can use the method* `.append()` to add an item to a list, and the method `.pop()` to remove the last item in a list.

*A **method** is a function that only works with a specific data type. ints, strings, lists, etc., all contain several methods you can use with them.

In [ ]:
# Create a list and display it.
example = [1, 2, 3]
print(example)

# Attach the number 4 to the end of the list and display it.
example.append(4)
print(example)

# Remove the last element from the list and display result.
example.pop()
print(example)

### Tuples

Tuples are very similar to lists, but they are immutable. This means that they cannot be changed after creation. Tuples are created in parentheses instead of square brackets.

In [ ]:
tuple_example = (1, 2, 3)
print(tuple_example)

We can get the length of a sequence using the `len()` function.

In [ ]:
# Print the length of strings. Uncomment one at a time:
# print(len("hello"))
# print(len("How are you?"))

# Print the length of lists. Uncomment one at a time:
# print(len([1, 2, 3]))
# print(len([[1, 2], [3, 4], [5, 6]]))


# Print the length of tuples. Uncomment one at a time:
# print(len(("Hello", "Bye")))
# print(len(("I'm Bob", "I'm Tim", "I'm Jimmy")))

We can access the individual elements in a sequence by using square brackets (`[]`) with an index inside.

Sequences in Python are zero-indexed, which means that the first element is at index 0. For example, `"Sawyer"[0]` corresponds to "S", `"Sawyer"[1]` corresponds to "a", and so on.

In [ ]:
example_string = "Hello there!"

# Uncomment one at a time and guess what will get printed.
# print(example_string[0])    # Access the first character in the string.
# print(example_string[1])
# print(example_string[2])
# print(example_string[6])
# print("What's your name?"[2])

example_list = [1, 2, 3]
# print(example_list[0])
# print(example_list[2])

example_tuple = ("Hello", "Bye")
# print(example_tuple[1])

# For a more complicated example, let's try with a list that contains lists inside it.
nested_list = [[1, 2], [3, 4], [5, 6]]
# print(nested_list[2])